html,
body {
    box-sizing: border-box;
    height: 100%;
    /*
    prevent margin collapse
    https://stackoverflow.com/questions/12989931/body-height-100-displaying-vertical-scrollbar
    */
    margin: 0;
    overscroll-behavior-y: none;
    /* prevent pull-to-refresh */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsSliders {
    flex-direction: column;
    max-width: 250px;
}

.slider {
    width: 250px;
    margin: 15px;
}

.vertical_cell {
    width: 150px;
    height: 20px;
}

.vertical_range {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: center;
    transform: rotate(-90deg);
}

.claw {
    width: 80px;
    height: 50px;
    margin: 5px;
}

#joy_div {
    width: 300px;
    height: 300px;
}
